
Packages/manifest\.json

Library/ShaderCache/

Library/ScriptAssemblies/

Library/metadata/

LogProfundidade\.txt

Log\.txt

Library/assetDatabase3

Library/AssetImportState

Library/expandedItems

Library/ScriptMapper

Library/shadercompiler-UnityShaderCompiler\.exe0\.log

Library/ShaderIncludePaths

Library/SpriteAtlasDatabase\.asset

Library/TilemapEditorUserSettings\.asset

UnityVS\.Phantom8HB-Thickness\.CSharp\.csproj
.vs/EpiduralAnesthesia/v15/.suo
.vs/EpiduralAnesthesia/v15/.suo
.vs/EpiduralAnesthesia/v15/Server/sqlite3/storage.ide
.vs/EpiduralAnesthesia/v15/Server/sqlite3/storage.ide-shm
.vs/EpiduralAnesthesia/v15/Server/sqlite3/storage.ide-wal
Temp/UnityTempFile-6bf0618d6b7f893469a1fdddcb1a41d1
Temp/UnityLockfile
Temp/__Backupscenes/0.backup
Library/InspectorExpandedItems.asset
Library/EditorInstance.json
.vs/EpiduralAnesthesia/v15/Server/sqlite3/storage.ide
.vs/EpiduralAnesthesia/v15/.suo
Library/InspectorExpandedItems.asset
.vs/EpiduralAnesthesia/v15/Server/sqlite3/storage.ide
.vs/EpiduralAnesthesia/v15/.suo
.vs/EpiduralAnesthesia/v15/.suo
.vs/EpiduralAnesthesia/v15/Server/sqlite3/storage.ide
Library/InspectorExpandedItems.asset
Library/InspectorExpandedItems.asset
Library/InspectorExpandedItems.asset
