
Packages/manifest\.json

Library/ShaderCache/

Library/ScriptAssemblies/

Library/metadata/

LogProfundidade\.txt

Log\.txt

Library/assetDatabase3

Library/AssetImportState

Library/expandedItems

Library/ScriptMapper

Library/shadercompiler-UnityShaderCompiler\.exe0\.log

Library/ShaderIncludePaths

Library/SpriteAtlasDatabase\.asset

Library/TilemapEditorUserSettings\.asset

UnityVS\.Phantom8HB-Thickness\.CSharp\.csproj
